body {
    margin: 0;
    font-family: Arial;
    background: linear-gradient(to right, #0a0f1f, #0d1b3d);
    color: #e6ecff;
}

header {
    text-align: center;
    padding: 20px;
    background: rgba(255,255,255,0.05);
}


.card img {
    display: block;
    margin: 20px auto; 
    width: 100%;
    max-width: 260px;
    border-radius: 10px;
    filter: grayscale(100%);
    transition: 0.3s;
}


.card img:hover {
    filter: grayscale(0%);
    transform: scale(1.05);
}


.image-box {
    text-align: center;
}

nav a {
    margin: 10px;
    color: #cfd8ff;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #4da6ff;
    text-shadow: 0 0 8px #4da6ff;
}

.card {
    background: #111a2e;
    color: #ffffff;
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 5px 20px rgba(0,0,0,0.8);
    transition: 0.3s;
    border: 1px solid rgba(77,166,255,0.2);
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 30px rgba(0,0,0,0.9);
    border: 1px solid #4da6ff;
}